/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* ---------------------------- */

* {
	font-family: Lato;
}
body {
	background-color: rgb(0, 0, 0);
}
.calendar__container {
	padding: 50px;
}
.calendar {
	display: grid;
	grid-template-areas: 
	'step dates'
	'input input';
	grid-template-columns: 1fr 2fr;
	color: rgb(177, 178, 179);
	background-color: rgb(31, 30, 30);
	border: 1px solid rgba(255, 255, 255, 0.171);
	margin: 0 auto;
	width: 340px;
}
.current-date__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 8px;
}
.calendar__current-date {
	font-weight: 800;
	display: inline-block;
}
.calendar__step {
	grid-area: step;
	text-align: center;
	border-right: 1px solid rgba(255, 255, 255, 0.171);
	padding: 15px;
}
.calendar__step_item {
	margin-bottom: 3px;
	text-align: left;
}
.calendar__dates {
	grid-area: dates;
	padding: 15px;
}
.calendar__day {
	padding: 2px;
}
.calendar__week {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: center;
}
.week-day {
	font-weight: 800;
}
.week-date {
	color: rgba(255, 255, 255, 0.171);
}
.current-day {
	color: rgba(177, 178, 179);
}
.calendar__date_input {
	grid-area: input;
	padding: 15px;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.171);
}
input {
	height: 27px;
	padding: 0 5px;
	margin: 0 10px;
	background-color: rgba(255, 255, 255, 0.171);
	color: rgb(177, 178, 179);;
}
button {
	padding: 5px 10px;
	margin: 0 2px;

	color: rgb(177, 178, 179);
	background-color: rgba(255, 255, 255, 0.171);
}
i {
	display: inline-block;
	padding: 5px;
	border: 1px solid;
}
